<!DOCTYPE html>
<html>
    <head>
        <title>Voicetel</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="style.css">

        <!-- Font -->
        <link href="https://fonts.googleapis.com/css?family=Roboto&amp;subset=latin-ext" rel="stylesheet">

        <!-- AngularJS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    </head>
    <body ng-app="app">
        <div ng-controller="list" data-ng-init="start()">
            <div class="filters">
                <div class="filter">
                    <h4>Czy osoba chciała połączyć się z konsultantem?</h4>
                    <label><input type="radio" name="forward" ng-click="getList(sortType, 'yes')">Tak</label><br>
                    <label><input type="radio" name="forward" ng-click="getList(sortType, 'no')">Nie</label><br>
                    <label><input type="radio" name="forward" ng-click="getList(sortType, '')" checked>Oba</label>
                </div>
                <div class="sort">
                    <h4>Sortuj po dacie</h4>
                    <label><input type="radio" name="date" ng-click="sortRevers = false; getList('date', filterText)">Rosnąco</label><br>
                    <label><input type="radio" name="date" ng-click="sortRevers = true; getList('date', filterText)">Malejąco</label><br>
                </div>
            </div>
            <div class="tableContainer">
                <div id="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                    <span id="message">Nie udało się pobrać danych</span>
                </div>
                <table id="table">
                    <tr>
                        <th>Imię</th>
                        <th>Nazwisko</th>
                        <th>Odpowiedź</th>
                        <th>Numer</th>
                        <th>Data</th>
                    </tr>
                    <tr ng-repeat="listRecord in dataList | orderBy:sortType:sortRevers | filter:filterText">
                        <td>{{ listRecord.firstName }}</td>
                        <td>{{ listRecord.lastName }}</td>
                        <td>{{ listRecord.forward }}</td>
                        <td>{{ listRecord.number }}</td>
                        <td>{{ listRecord.date }}</td>
                    </tr>
                </table>
            </div>
        </div>

        <script src="app.js"></script>
    </body>
</html>