body {
    color: #333;
    font-family: 'Roboto', sans-serif;
}

.tableContainer {
    width: 100%;
    overflow: auto;
}

table {
    min-width: 100%;
    white-space: nowrap;
}

th {
    text-align: left;
    background-color: #ececec;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 20px 10px;
}

tr:hover {
    background-color: #eee;
}

.filter, .sort {
    float: left;
    margin: 0 2em 2em 2em;
}

#alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
    display: none;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
}